/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 80px 0 0 0;
  background-image: linear-gradient(#6989a3, #06365f);
  background-repeat: no-repeat;
  background-size: 100% 300px;
  display: flex;
  flex-direction: column;

}

.full-page {
  display: flex;
  justify-content:center;
  align-items: center;
}

#phones {
  padding: 20px;
}

.right-side {
  padding: 20px;
}

#iglogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#login {
  background-image: linear-gradient(#6989a3, #06365f);
  display: flex;
  align-items: center;
  border: 1px solid #06365f;
  font-weight: bold;
  padding: 5px;
  height: 30px;
}

.text {
  background-image: url("images/frame.png");
  background-color: white;
  border-radius: 5px;
  padding: 30px 30px 0 30px;
  width: 420px;
}

.text h1 {
  margin: 0;
  color: #06365f;
  width: 340px;
}

#house {
  align-self: center;
}

.download {
  display:flex;
}

.download img {
  padding: 20px;
  padding-left: 0px;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav li {
  padding: 10px;
  font-weight: bold;
  color: #06365f;
}

#copyright {
  color: lightgrey;
}